# Ignorar arquivos de banco de dados (exemplo .db, .sqlite)
*.db
*.sqlite
*.sqlite3
/snake_game_DB

# Ignorar diretórios específicos
.venv/
.idea/

# Ignorar arquivos específicos
*.spec
*.pyc
*.xml

# Ignorar arquivos de configuração específicos
*.log
*.pid

# Ignorar arquivos temporários e de backup
*~
*.bak

*.txt